*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6; }

h1 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 24px;
  color: #fff; }

h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 24px;
  color: #3f5c91; }

.solution {
  color: #5aaf2d; }

.title {
  width: 100%;
  height: 90vh;
  background: #3f5c91 url("img/ho_and_wee_bg.jpg") top center no-repeat;
  background-size: cover;
  color: #fff; }
  .title_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .title_content {
    text-align: center; }
    .title_content a {
      color: #fff; }
      .title_content a:hover {
        color: #719fff; }

/* Summary */
.block_a {
  min-height: 40vh;
  max-width: 740px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 0 24px; }
  .block_a_content {
    border-left: 5px solid #3f5c91;
    margin: 24px 0;
    padding-left: 48px; }
    .block_a_content p {
      margin-bottom: 24px; }
      .block_a_content p:last-child {
        margin-bottom: 0; }

/* Image left, text right */
.block_b {
  min-height: 80vh;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .block_b_image {
    text-align: center;
    padding: 0 12px 0 24px; }
    @media (max-width: 1024px) {
      .block_b_image {
        padding: 0 70px; } }
    .block_b_image_img {
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      -webkit-box-shadow: 5px 15px 40px rgba(21, 37, 41, 0.2);
      -moz-box-shadow: 5px 15px 40px rgba(21, 37, 41, 0.2);
      box-shadow: 5px 15px 40px rgba(21, 37, 41, 0.2); }
  .block_b_text {
    max-width: 760px;
    padding: 0 24px 0 12px; }
    .block_b_text p {
      margin-right: 24px;
      margin-bottom: 24px; }
      .block_b_text p:last-child {
        margin-bottom: 0; }

/* Image above text */
.block_c {
  min-height: 94vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .block_c_text {
    max-width: 740px;
    padding: 48px 24px; }
    .block_c_text p {
      text-align: left;
      margin-bottom: 24px; }
      .block_c_text p:last-child {
        margin-bottom: 0; }
  .block_c_image_img {
    -webkit-box-shadow: 5px 15px 40px rgba(21, 37, 41, 0.2);
    -moz-box-shadow: 5px 15px 40px rgba(21, 37, 41, 0.2);
    box-shadow: 5px 15px 40px rgba(21, 37, 41, 0.2); }

/* Credits */
.block_z {
  width: 100%;
  min-height: 40vh;
  background-color: #f9f9f9;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center; }
  .block_z_content {
    text-align: center;
    padding: 0 24px; }
    .block_z_content a {
      color: #ccc; }
      .block_z_content a:hover {
        color: #719fff; }

/* Divider */
.divider {
  width: 300px;
  height: 1px;
  margin: 48px auto;
  background-color: #eaeaea; }

/*# sourceMappingURL=style.css.map */
